@model IEnumerable<test.Models.ArticleVM>

@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<div>
    <div class="form-group row">
        <p class="col-md-8 col-sm-8 col-xs-8 ">            
            @Html.ActionLink("Create", "Create",null, new { @class = "glyphicon glyphicon-plus" })                
        </p>        
        <div class="col-md-4 col-sm-4 col-xs-4">
            @Html.DropDownList("storesSelect", (List<SelectListItem>)ViewBag.Stores, "Choose store", new { @class = "form-control" })

        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_in_shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_in_vault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store_Name)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_in_shelf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_in_vault)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store_Name)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $('#storesSelect').on('change', function () {        
        
        window.location.href = '/articles/index?storeId=' + $("#storesSelect").val();
        
    });
</script>
